
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Nunito&family=Orbitron&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Nunito&family=Orbitron&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	
	
}


body {
	font-size: 1.1rem;
	background-color: #f7f7f7;
}

/*NAV AND HEADER STYLING*/
	
#landing-img{
	border: 2.5px solid black;
	height: 70vh;
	background-image: url('https://cdn.pixabay.com/photo/2017/08/06/00/27/yoga-2587066_1280.jpg');
	background-size: cover;
}
.nav {
	padding: 2%;
	display: flex;
	justify-content: flex-end;
	background: #e0e0dc;
	height: 3vh;
}


.nav a {
	margin: 0 1%;
	text-decoration: none;
	color: grey;
	padding: 0.5% 1%;
	border-radius: 5%;
	font-family: 'Nunito', sans-serif;
}

.title {
	height: 12vh;
	text-align: center;
	
}

.title h1 {
	padding-top: 2%;
	padding-bottom: 2%;;
	font-family: 'Audiowide', cursive;
	font-size: 3rem;
}

/*END OF HEADER NAV STYLE*/

/*HEADLINE SECTION*/

.Headline {
	
	height: 8vh;
	margin: 1%;
	text-align: center;
	
}

.Headline h1{
	padding-top: 4%;
	overflow: hidden;
	border-right: .15em solid transparent;
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: .10em;
	animation: typing 2.5s steps(40, end), blink-caret .75s step-end 3;
	margin-top: 10%;
	font-size: 7rem;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	color: black;
}

@keyframes typing {
	from {width: 0}
	to {width: 70%}
}

@keyframes blink-caret {
	from, to {border-color: transparent}
	50% {border-color: black}
}

button {
	margin: 3%;
	background-color: black;
	color: white;
	font-family: 'Nunito', sans-serif;
	width: 20%;
	padding: 2%;
	border: none;
	font-size: 1.2rem;
	font-weight: 200;
}

button a {
	text-decoration: none;
	color: white;
}
/*END OF HEADLINE SECTION*/
/*INSTRUCTOR SECTION*/

.parent1{
	display: flex;
	justify-content: space-evenly;
	font-family: 'Nunito', sans-serif;
	font-weight: 200;
	margin-bottom: 0;
}
 .Instructor-img{
	background-image: url("https://cdn.shopify.com/s/files/1/0009/1112/products/personal-trainer_1800x.jpg?v=1586368428");
	width: 100%;
	margin-top: 3%;
	margin-left: 5%;
	margin-bottom: 3%;
	height: 70vh;
	border-radius: 15px;
	text-align: center;
	border: 1px solid black;
	padding: auto;
}

.Instructor-Det {

width: 100%;
height: 70%;
padding-top:6%;
text-align: center;
margin: 3%;
margin-bottom: 0;
}

.Instructor-Det p {
	border-bottom: 1px dashed black;
	padding-bottom: 2.5%;
}

.Instructor-Det h2 {
	padding-bottom: 3%;
	font-size: 4rem;
	border-bottom: 1px dashed black;
}

.Instructor-Det h4 {
	font-size: 2.2rem;
}

.Instructor-img h2 {
	color: #ff94a8;
	padding-top: 38%;
	font-size:5.5rem;
	
}

.Instructor-Det ul {
	text-align: left;
	padding-left: 34%;
}

/*END OF INSTRUCTOR SECTION*/

.fixed-img {
	background-image: url("https://img.freepik.com/free-photo/gym-equipments-fitness-club_23-2147949744.jpg?size=626&ext=jpg");
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	height: 35vh;
	border: 1px solid black;
}

/*START OF CLIENT SECTION*/


.parent2{
	margin-top: 5%;
	display: flex;
	justify-content: space-evenly;
	font-family: 'Nunito', sans-serif;
	font-weight: 200;
}

 .Client-img {
	background-image: url("https://serendipitysocial.com/wp-content/uploads/2016/04/Workouts-2016-GoStride.jpg");
	background-size: cover;
	border: 1px solid black;
	color: whitesmoke;
	width: 100%;
	border-radius: 15px;
	height: 70vh;
	margin-right: 5%;
}

.Client-det {
height: 70%;
padding-top:6%;
text-align: center;
	margin: 3%;
	margin-top: 0;
	width: 100%;
}

.Client-det p {
	border-bottom: 1px dashed black;
	padding-bottom: 2.5%;
}

.Client-det h2 {
	padding-bottom: 3%;
	font-size: 4rem;
	border-bottom: 1px dashed black;
}


.Client-det h4 {
	font-size: 2rem;
}

.Client-det ul {
	text-align: left;
	padding-left: 34%;
}

/*END OF CLIENT SECTION*/

/*Footer Section*/
.footer-contact{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 3%;
    justify-content: center;
}
.footer-contact a{
    margin: 1%;
    text-decoration: none;
    color: white;
    background: grey;
    padding: 0.5% 1%;
	border-radius: 5%;
	font-family: 'Nunito', sans-serif;
}

/*Contact Section*/
.contact{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 5%;
    justify-content: center;
	background:#e0e0dc;
	font-family: 'Nunito', sans-serif;
}
.info{
    width: 27%;
	margin: 3%;
	line-height: 2rem;
}
.links a, .links address{
    line-height: 3rem;
    text-decoration: none;
    color: grey;
}
.contact h2{
    font-size: 2rem;
}

/*MEDIA QUERYS*/
/*TABLET 800PX*/
@media (max-width: 1000px){

/*NAV*/
	.nav {
		padding: 2%;
		display: flex;
		justify-content: center;
		background: #e0e0dc;
		height: 3vh;
	}
	/*HEADLINES*/
	
	
	.Headline {
	
		height: 4vh;
		margin: 1%;
		text-align: center;
		
	}
	
	.Headline h1{
		padding-top: 4%;
		overflow: hidden;
		border-right: .15em solid transparent;
		white-space: nowrap;
		margin: 0 auto;
		letter-spacing: .05em;
		animation: typing 1.5s steps(30, end), blink-caret .75s step-end 3;
		margin-top: 10%;
		font-size: 6rem;
		font-family: 'Nunito', sans-serif;
		font-weight: 200;
		color: black;
	}
	
	@keyframes typing {
		from {width: 0}
		to {width: 70%}
	}
	
	@keyframes blink-caret {
		from, to {border-color: transparent}
		50% {border-color: black}
	}
	
	.Client-det ul {
		padding-left: 0;
		
	}

	.Instructor-Det ul {
		text-align: left;
		padding-left: 0%;
	}

	button {
		margin: 3%;
	background-color: black;
	color: white;
	font-family: 'Nunito', sans-serif;
	width: 20%;
	padding: 1.5%;
	border: none;
	font-size: 1rem;
	font-weight: 150;
	}
}


/*MOBILE 500PX*/

@media (max-width: 700px){

	.contact h2 {
		font-size: 1.5rem;
	}

	.contact p {
		font-size: 1rem;
	}
	address {
		font-size: 1rem;
	}

	.contact a  {
		font-size: 1rem;
	}
	.Instructor-img{
		display: none;

	}

	.Instructor-Det ul {
		text-align: left;
		padding-left: 20%;
	}


	.Client-det ul {
		padding-left: 10%;
		
	}

	.Client-img{
		display: none;
	}
	.title h1{
		font-size: 2rem;
		padding-top: 5%;
	}
	#landing-img {
		height: 35vh;
	}
	.Headline {
	
	height: 8vh;
	margin: 1%;
	text-align: center;
	
}

.Headline h1{
	padding-top: 4%;
	overflow: hidden;
	border-right: .15em solid transparent;
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: .10em;
	animation: typing 1s steps(40, end), blink-caret .75s step-end 3;
	margin-top: 10%;
	font-size: 3.5rem;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	color: black;
}

@keyframes typing {
	from {width: 0}
	to {width: 70%}
}

@keyframes blink-caret {
	from, to {border-color: transparent}
	50% {border-color: black}
}

}