@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Nunito&family=Orbitron&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*{
    box-sizing: border-box;
    max-width: 100%;
    /* border: 1px solid grey; */
    margin: 0;
	padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size:1.6rem;
    line-height: 2.5rem;
    background-color: #F5F5F5;
    color: black;
    font-family: 'Nunito', sans-serif;
    
}

/*Header Styles*/

.nav-links{
    padding: 2%;
    display: flex;
    justify-content: flex-end;
    background:#e0e0dc;
}

.nav-links a {
    margin: 0 1%;
    text-decoration: none;
    color: grey;
    /* background: grey; */
    padding: 0.5% 1%;
    border-radius: 5%;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3% 0 0 0;
}

h1{
   font-family: 'Audiowide', cursive;
   font-size: 4rem;
   padding: 3%;
}

/*Top Section*/

.header-img{
    background-image: url(https://cdn.pixabay.com/photo/2017/08/06/00/27/yoga-2587066_1280.jpg);
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button a{
    text-decoration: none;
    font-size: 2rem;
    color: white;
    font-size: 2.5rem;
 
}

.login-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    padding: 1% 4%;
    border-radius: 5%;
}

/*Class Section*/

#classes, #instructor{
    display: flex;
    margin: 2%;
}

#classes img, #instructor img{
    width: 50%;
    margin: 3%;
}

.text-container{
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* font-family: 'Orbitron', sans-serif; */
    line-height: 3rem;
    justify-content: center;
    /* background: red; */
}

.text-container p{
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin: 3% 3% 0 3%;
    font-family: 'Nunito', sans-serif;
    padding: 2%;
}

.text-container h2{
    margin: 5%;
}

.about-button {
    text-decoration: none;
    font-size: 2rem;
    background: black;
    border-radius: 5%;
    color: white;
    padding: 2% 5%;
}

.about-us img{
    object-fit: cover;
    object-position: bottom;
    position: relative;
    height: 40rem;
    width: 100%;
}

/*Contact Section*/

.contact{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 5%;
    justify-content: center;
    background:#e0e0dc;
}

.info{
    width: 27%;
    margin: 3%;
}

.links a, .links address{
    line-height: 3rem;
    text-decoration: none;
    color: grey;
}

.contact h2{
    font-size: 2rem;
}


/*Footer Section*/

.footer-contact{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 3%;
    justify-content: center;
}

.footer-contact a{
    margin: 1%;
    text-decoration: none;
    color: white;
    background: grey;
    padding: 0.5% 1%;
    border-radius: 5%;
}